ul {
    list-style: none;
    padding: 10px; /* Adjust the padding as needed */
    background-color: #f0f0f0; /* Light gray background color */
    display: flex;
    justify-content: space-around; /* Adjust the spacing of menu items */
}

ul li a {
    text-decoration: none;
    color: #333; /* Dark color for the link text */
    font-size: 16px; /* Set the initial font size */
    transition: color 0.3s, font-size 0.3s; /* Smooth transition for color and font size change */
}

ul li a:hover {
    color: Red; /* Change the color on hover */
    font-size: 30px; /* Increase font size on hover */
}